Django
django-extensions
django-ninja
django-ninja-apikey
django-ninja-crud
django-ninja-extra
django-ninja-jwt
django-split-settings
django-unfold
celery
django-celery-beat
django-admin-anchors
django-cors-headers
django-environ
django-filer
django-import-export
django-nested-admin
django-taggit
django-trench
djangorestframework
djangorestframework-simplejwt
gunicorn
flower
honcho
django-filer[heif]
git+https://github.com/scalar/scalar.git#subdirectory=integrations/django-ninja
